<div id="diary-container">
    {% for week, subjects in data.items() %}
        <h2>Week Beginning: {{ week }}</h2>
        <table border="1">
            {% for subject, tasks in subjects.items() %}
                <tr><td colspan="4"><strong>{{ subject }}</strong></td></tr>
                {% for task in tasks %}
                    <tr>
                        <td></td>
                        <td>{{ task.date }}</td>
                        <td>{{ task.reinforcement }}</td>
                        <td>{{ task.submission }}</td>
                    </tr>
                {% endfor %}
            {% endfor %}
        </table>
    {% endfor %}
</div>